
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 20px 20px;
    padding: 100px;
}

.health{
    background-color:#4BCDA1 ;
}
.health_item{
    background-color: #81DF90;
}

.law{
    background-color: #6F6AB4;
}
.law_item{}

.tech{
    background-color: #FF8B42;
}
.tech_item{}

.learning{
    background-color: #0094BE;
}
.learning_item{}

.local-market{
    background-color:#00535E ;
}
.local-market-item{}

.events{
    background-color:#A33563;
}
.events-item{}

.offers{
    background-color:#944F92;
}
.offers-item{}

.others{
    background-color:#872300;
}
.others-item{}

.item-div
{
    color: white;
    text-shadow: 2px 2px 2px rgb(70, 69, 69);
}
.item-div:hover{
    background-color:  #324B4D;
    color: white;
    text-shadow: 5px 5px 5px  rgb(70, 69, 69);
}

.category-div{
    margin: top;
    width: 30ch;
    height: 30ch;
    box-shadow: 8px 8px 10px grey;
    text-shadow: 1px 1px 1px rgb(46, 45, 45);
}

.category-div li {
    color: whitesmoke;
    text-align: left;

    
}
.category-div h3 {
    color: whitesmoke;
    vertical-align: text-top;
}
.contribuye {
    background-color: #00a2ad;
}
.brandy{
    color: white;
    text-shadow: 1px 1px 1px rgb(70, 69, 69);

}
.brandy:hover{
    color: white;
    text-shadow: 5px 5px 5px  rgb(70, 69, 69);
}
.brandy:hover{
    color:gold;
}

.category-div:hover {
    background-color: #324B4D; /* Green */
    color: gold;
  }
  .carousel-item > img { 
    width: 100%; 
    height: 33em; 
  }

  .carousel {
    width: 100%; 
    height: 100%;

  }
  .slide {
    width: 100%; 
    height: 100%;
  }

  .carousel-caption {
    background-color: rgba(30, 30, 30, 0.5);
  }