
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 20px 20px;
    padding: 100px;
}
  
.underNavbar {
    background-color: rgb(72, 72, 72);   /*//rgb(48, 48, 48); */
}
.home-footer{
    text-align: center;
    color: white;
    margin-top: 7rem;

    box-shadow: 0px 20px 30px -5px rgb(0, 0, 0);
    background:rgb(20, 20, 20);
    height: 300px;
    clear:both;
}
.star-icon{
    height: 2rem;
    width: 2rem;
}

 .footero{
  width: 100%;         /* Footer height */
  color: white;
    padding: 30px;
    box-shadow: 0px 20px 30px -5px rgb(0, 0, 0);
    background:rgb(20, 20, 20);
}


.brandy{
    color: whitesmoke;
    text-shadow: 1px 1px 1px rgb(70, 69, 69);
}
.brandy:hover{
    color: #2bd4e0;
    font-weight: bold;
    
}
.brandy_man{
    color: whitesmoke;
    text-shadow: 1px 1px 1px rgb(72, 72, 72);
    
}
.brandy_man:hover {
    color: whitesmoke;
    font-weight: bold;
}

.health{
    background-color:#4BCDA1 ;
}
.health_item:hover {
    color: #4BCDA1;
}
.health_item_nav {
    color: whitesmoke;
    
}
.health_item_nav:hover{
    color: #4BCDA1;
    font-weight: bold;
}


.law{
    background-color: #6F6AB4;
}
.law_item:hover{
    color: #6F6AB4;
}
.law_item_nav{
    color: whitesmoke;
}
.law_item_nav:hover{
    color: rgb(180, 175, 247);
    font-weight: bold;
}


.tech{
    background-color: #FF8B42;
}
.tech_item_nav{
    color: whitesmoke;
}
.tech_item_nav:hover{
    color: #FF8B42;
    font-weight: bold;
}
.tech_item:hover{
    color: #FF8B42;
}


.learning{
    background-color: #0094BE;
}
.learning_item_nav{
    color: whitesmoke;
}
.learning_item_nav:hover{
    color: rgb(21, 194, 241);
}
.learning_item:hover{
    color: #0094BE;
    font-weight: bold;
}

.events{
    background-color:#A33563;
}
.events_item_nav{
    color:whitesmoke
}
.events_item_nav:hover{
    color:rgb(206, 120, 156);
    font-weight: bold;
}
.events_item:hover{
    color:#A33563
}

.local-market{
    background-color:#00535E ;
}
.local-market_item_nav{
    color:whitesmoke ;
}
.local-market_item_nav:hover{
    color:rgb(151, 185, 190) ;
    font-weight: bold;
}
.local-market_item:hover{
    color:#00535E ;
}



.offers{
    background-color:#944F92;
}
.offers_item_nav{
    color:whitesmoke;
}
.offers_item_nav:hover{
    color:rgb(241, 169, 238);
    font-weight: bold;
}
.offers_item:hover{
    color:#944F92;
}

.others{
    background-color:#872300;
}
.others_item_nav{
    color:whitesmoke;
}
.others_item_nav:hover{
    color:#d1a696;
    font-weight: bold;
}
.others_item:hover{
    color:#872300;
}

.item-div
{
    color: gray;
    width: 70%;
}

.category-div{
    margin: top;
    width: 90%;
    height: 30ch;
    align-self: center;
    box-shadow: 8px 8px 10px grey;

}


.category-div li {
    color: whitesmoke;
    text-align: left;

    
}

.category-all {
    background-color: rgb(72, 72, 72);
}
.category-div h3 {
    color: whitesmoke;
    vertical-align: text-top;
}
.contribuye {
    background-color: #00a2ad;
}



.category-div:hover {
    filter:brightness(80%);

  }
  .carousel-item > img { 
    width: 100%; 
    height: 33em; 
  }

  .carousel {
    width: 100%; 
    height: 100%;

  }
  .slide {
    width: 100%; 
    height: 100%;
  }

  .carousel-caption {
    background-color: rgba(30, 30, 30, 0.5);
  }